---
layout: base
---

<div id="content">
  <h2 class="page-title">
    <span class="container">{{ page.title }}</span>
  </h2>
  <div class="container clearfix">
    <article class="main">
      <section class="content-chunk">
        {% if page.markdown == 1 %}
          {{ content | markdownify }}
        {% else %}
          {{ content }}
        {% endif %}
      </section>
    </article>
  </div>

  {% if page.social_text %}
    {% include social.html %}
  {% endif %}

  {% if page.class == 'documentation' %}
    <div class="contribute-doc">
      发现一个错误？一个不清楚的例子？通过派生并发送你的修改和建议来帮助我们改进文档。
      <br><a href="https://github.com/yeoman/yeoman.github.io/blob/source/app{{ page.url | replace:'.html','.md' }}">改善此页面！</a>
    </div>
  {% endif %}
</div>
